.section-testimonials {
	.container {
		color: #ddd;
		font-size: 20px;
		font-style: italic;
		padding: 2em;
		background-color: $yii-blue;
		h3 {
			color: #ccc;
			small {
				color: #bbb;
			}
		}
	}
}
