$first: darken($brand-primary, 35%);
$second: $brand-primary;
$third: lighten($brand-primary, 15%);

.jumbotron-index {

	position: relative;
	top: -25px;
	@media (max-width: $grid-float-breakpoint) {
		top: 0;
	}
	padding:0 0 50px;
	border-bottom:0;

	font-family: tenby_fiveregular;

  $appf-base-font-size: $font-size-base;

		background: transparent linear-gradient(135deg, $first, $second, $third) repeat scroll 0% 0%;

    h1 {
        font-size: 60px;
        line-height: ceil(60px * 1.3);
        margin: 60px 0 30px;
        color: #fff;
        text-align: center;
				span.hero-framework {
						font-weight: 200;
						color: #aaa;
				}
    }

    h2 {
        font-size: 25px;
        line-height: ceil(25px * 1.3);
        font-weight: bold;
        margin: 30px 0 (2 * $appf-base-font-size) 0;
        color: #fff;
        text-align: center;
    }

    .application-features {
        margin: 0 auto;
        padding: 0;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: $screen-sm-min - 30px; // container padding is 30px
        }

        @media (min-width: $screen-md-min) {
            width: 800px;
        }
    }

    .application-feature {
        margin: 0 0 (2 * $appf-base-font-size);

        .key-word {
            height: 4 * $appf-base-font-size;

            white-space: nowrap;


            .glyphicon {
                float: left;
                font-size: 4 * $appf-base-font-size;
                color: #fff;
                top: 3px;

                @media (max-width: $screen-sm-max) {
                    font-size: $appf-base-font-size * 3.6;
                    top: 5px;
                }
            }
        }

        .key-description {
            height: 4 * $appf-base-font-size;
            line-height: 2 * $appf-base-font-size;
            font-size: 1.2 * $appf-base-font-size;
            font-weight: 600;

            color: rgba(0, 0, 0, 0.75);

            @media (max-width: $screen-xs-max) {
                margin-left: ($appf-base-font-size * 3.6) + floor($appf-base-font-size * 1.5);
                height: auto;
            }
        }

        img {
            max-width: 64px;
            margin-left: 30px;
        }

        h3 {
            font-size: $appf-base-font-size * 2;
            line-height: 4 * $appf-base-font-size;
            vertical-align: middle;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.7);
            margin: 0 floor($appf-base-font-size * 1.5);
            display: inline-block;

            @media (max-width: $screen-sm-max) {
                font-size: $appf-base-font-size * 1.8;
            }
        }
    }
}
