.site-license {
    .can {
        color: $yii-green;
    }

    .cannot {
        color: $yii-yellow;
    }

    .must {
        color: $yii-blue;
    }

    .legal {
        border-right: 1px solid #ddd;
        padding-right: 20px;
        min-height: 340px;
    }
}
