
.search-result {
    em {
        background: #ffff00;
    }

    h3, p {
        width: 100%;
        max-width: 100%;
    }
}

#search-resultbox {
  position: absolute;
  width: 255px;
  min-height: 150px;

  border: solid 1px #cccccc;
  border-top: none;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);

  display: none;

  .result-head {
    margin: 0;
    padding: 0px 5px;
    font-weight: bold;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;

    .search-limit {
      font-weight: normal;
      float: right;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    list-style: none;

    max-height: 150px;
    overflow-y: auto;

    li {
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;

      a, p {
        display: inline-block;
        margin: 0;
        padding: 5px 5px 5px 15px;
        width: 100%;

        span.result-annotation {
          float: right;
        }
      }

      a:hover, a.selected {
        background: $yii-blue;
        color: #fff;
      }
    }
  }
}
