/*
 HEADER first line
*/

.top-header {
	background-color:#F0F0F0;
	border-bottom:1px solid #DDDDDD;
	height:20px;
    .header-item {
        display:inline-block;
        margin-right:20px;
        font-size:12px;
				position:relative;
        top:-5px;
    }

    .header-item i {
        margin-right:7px;
    }

    .brands {
        display:inline-block;
        position:relative;
        top:-5px;
				left: -24px;
    }
}
/*
 HEADER navigation
*/
header.navbar.navbar-inverse {
	height: $navbar-height;
	padding: 0;
	margin: 0;
}

.navbar {
	position: relative;
	top: -25px;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	@media (max-width: $grid-float-breakpoint) {
		top: 0px;
	}
}

.navbar-header {
		position: relative;
		top: -6px;
}

::selection {
    text-shadow: none !important;
    background: #fff2a8;
}

::-moz-selection {
    text-shadow: none !important;
    background: #fff2a8;
}
