$yii-yellow: #DF6E35;//#D8582B
$yii-blue: #3379B2;//#3B6FBA
$yii-green: #8CBC4C;//#16A314

@import "bootstrap-variables";
// extra vars that was added to bootstrap variables by Roxio
$link-visited-color: #397DB4;// TODO: make this derive from Yii blue
$font-family-nav: 'Roboto', sans-serif;
$font-size-codeblocks:    $font-size-base;

@import "vendors/bootstrap";
@import "vendors/bootstrap/theme";
@import "vendors/font-awesome";

//@import "fonts/ptsans";
@import "fonts/roboto";

// Roxie theme
//@import "roxie/css/animate";
@import "roxie/css/creative-brands";
//@import "roxie-color";
//@import "roxie-custom";

// Overall customizations
@import "content";
@import "site";
@import "guide";
@import "api";
@import "highlight"; // guide code highlight
@import "index";
@import "books";
@import "team";
@import "license";
@import "search";

// components

@import "components/comments";
@import "components/authchoice";

// adjustments for smaller screens
//@import "responsive"; // TODO: this should be inlined in other code
