$yii-yellow: #DF6E35;
$yii-blue: #3379B2;
$yii-green: #8CBC4C;

@import "bootstrap-variables";
// extra vars that was added to bootstrap variables by Roxio
$link-visited-color: $yii-blue;
$font-family-nav: 'Roboto', sans-serif;// TODO: figure out if Roboto is the font to use
$font-size-codeblocks: $font-size-base;

@import "vendors/bootstrap";
@import "vendors/bootstrap/theme";
@import "vendors/font-awesome";

@import "fonts/roboto";// TODO: needed?

// Roxie theme
@import "roxie/css/creative-brands";

// Overall customizations
@import "content";
@import "site";
@import "guide";
@import "api";
@import "highlight"; // guide code highlight
@import "index";
@import "books";
@import "team";
@import "license";
@import "search";

// components

@import "components/comments";
@import "components/authchoice";

// adjustments for smaller screens
@import "responsive"; // TODO: this should be inlined in other code
