$yii-yellow: #DF6E35;
$yii-blue: #3379B2;
$yii-green: #8CBC4C;

@import "bootstrap-variables";
// extra vars that was added to bootstrap variables by Roxio
$link-visited-color: $yii-blue;
$font-size-codeblocks: $font-size-base;

@import "vendors/bootstrap";
@import "vendors/bootstrap/theme";
@import "vendors/font-awesome";

@import "fonts/roboto";
@import "fonts/josefine-sans";

// Roxie theme
@import "roxie/css/creative-brands";

// Elements
@import "elements/index_features";

// Overall customizations
@import "content";
@import "site";
@import "guide";
@import "api";
@import "highlight"; // guide code highlight
@import "index";
@import "books";
@import "team";
@import "license";
@import "search";

// components

@import "components/comments";
@import "components/authchoice";
@import "components/scrollup";

// adjustments for smaller screens
//@import "responsive"; // TODO: this should be inlined in other code
