
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/


.login-container {
	background-color: $eshill-light-blue;
 	width: 100%;

 	.omb_login {

		padding:80px 0px;
		
		.omb_authTitle {

			margin-bottom: 20px;

			h3{
				color:#FFF;
			    font-size: 45pt;
			    font-weight: bold;
			    display: block;
			    margin: 0px;
			}

			span{
				color: #fff;
			    font-size: 20px;
			    padding-right: 6px;
		    }

		    a{
		    	color: #f3ffbd;
		    	font-size: 2.5rem;
		    }
		}

		.omb_loginForm{

			.help-block {
			    color: red;
			}

			.login-control{
				background: none;
			    border: none;
			    border-bottom: 2px solid #7abbd7;
			    -webkit-box-shadow: 0 0 0 1000px $eshill-light-blue inset;
			    padding: 10px 0px;
			    font-size: 1.7rem;
			    color: #7abbd7;
			    width: 100%;
			    -webkit-text-fill-color: #7abbd7 !important;

				&:-moz-placeholder {
					color: #7abbd7;
				}
				&:-ms-input-placeholder {
					color: #7abbd7;
				}
				&::-webkit-input-placeholder {
					color: #7abbd7;
				}
			}
		}

		.forgotPwd{
			margin-top: 10px;

			a {
			    color: #f3ffbd;
			    font-size: 1.7rem;
			}
		}

		.btn{
			font-size: 1.8rem;
		    font-family: "pt_sansregular", sans-serif;
		    color: #247ba0;
		    background-color: #F5FEC4;
		    border-color: #ebfd88;

		    &:hover{
		        color: #1e6887;
			    background-color: #BAD9C1;
			    border-color: #93c39e;
		    }

		    &:active{
			    color: #ebf1f2;
			    background-color: #83BFB3;
			    border-color: #5baa9a;
			}
		}

		.social-login{
		    text-align: center;
		    border-left: 2px solid #1e6887;
		    min-height: 400px;
		    color:#fff;

		    .github-icon{
				background: #1e6887;
			    color: #fff;
			    border-radius: 100px;
			    padding: 5px 18px;
			    font-size: 6rem;
			}

		    h4{
		    	margin: 30px 0px;
		    }
		}
	}
}
