.login-container {
  background-color: $eshill-light-blue;
  width: 100%;

  .omb_login {
    @include rem(padding, 80px 0px);

    .omb_authTitle {
      @include rem(margin-bottom, 20px);

      h3 {
        color:#FFF;
        @include rem(font-size, 45px);
        font-weight: bold;
        display: block;
        margin: 0;
      }

      span {
        color: #fff;
        @include rem(font-size, 20px);
        @include rem(padding-right, 6px);
      }

      a {
        color: #f3ffbd;
        font-size: 2.5rem;
      }
    }

    .omb_loginForm {

      .help-block {
        color: red;
      }

      .login-control {
        background: none;
        border: none;
        border-bottom: 2px solid #7abbd7;
        -webkit-box-shadow: 0 0 0 1000px $eshill-light-blue inset;
        @include rem(padding, 10px 0px);
        font-size: 1.7rem;
        color: #ffffff;
        width: 100%;
        -webkit-text-fill-color: #7abbd7 !important;

        &:-moz-placeholder {
          color: #7abbd7;
        }

        &:-ms-input-placeholder {
          color: #7abbd7;
        }

        &::-webkit-input-placeholder {
          color: #7abbd7;
        }
      }

      .checkbox {
        label {
          color: #fff;
        }

        input[type="checkbox"],
        input[type="checkbox"]:hover {
          -webkit-appearance: checkbox;
        }
      }
    }

    .forgotPwd {
      @include rem(margin-top, 10px);

      a {
        color: #fff;
        font-size: 1.7rem;
      }
    }

    .btn {
      font-size: 1.8rem;
      font-family: "pt_sansregular", sans-serif;
      color: $eshill-blue;
      background-color: #F5FEC4;
      border-color: #ebfd88;

      &:hover {
        color: #1e6887;
        background-color: #BAD9C1;
        border-color: #93c39e;
      }

      &:active{
        color: #ebf1f2;
        background-color: #83BFB3;
        border-color: #5baa9a;
      }
    }

    .social-login {
      text-align: center;
      border-left: 2px solid #1e6887;
      @include rem(min-height, 400px);
      color:#fff;

      @media (max-width: 991px) {
        @include rem(margin-top, 15px);
      }

      .github-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        background: #1e6887;
        border-radius: 100px;
        width: 90px;
        height: 90px;
        font-size: 4rem;

        i {
          background-color: #1e6887;
          color: #ffffff;
          border-radius: 25px;
        }
      }

      h4 {
        @include rem(margin, 30px 0px);
      }
    }
  }
}
