.login-container {
  background-color: $eshill-light-blue;

  .omb_login {

    color: #fff;
    @include rem(padding, 80px 0px);

    .omb_authTitle {

      @include rem(margin-bottom, 20px);

      h3{
        color:#FFF;
        font-size: 2rem;
        font-weight: bold;
        display: block;
      }

      p {
        color: #fff;
        @include rem(padding-right, 6px);
      }

      a{
        color: #f3ffbd;
        font-size: 1.5rem;
      }
    }

    .omb_loginForm{

      .help-block {
        color: red;
      }

      .login-control{
        background: none;
        border: none;
        border-bottom: 2px solid #7abbd7;
        -webkit-box-shadow: 0 0 0 1000px $eshill-light-blue inset;
        @include rem(padding, 10px 0px);
        color: #fff !important;
        width: 100%;

        &:-moz-placeholder {
          color: #7abbd7;
        }
        &:-ms-input-placeholder {
          color: #7abbd7;
        }
        &::-webkit-input-placeholder {
          color: #7abbd7;
        }
      }

      .checkbox {
        label {
          color: #fff;
        }

        input[type="checkbox"],
        input[type="checkbox"]:hover {
          -webkit-appearance: checkbox;
        }
      }
    }

    .forgotPwd{
      @include rem(margin-top, 10px);

      a {
        color: #fff;
      }
    }

    .btn {
      color: $yii-dark-blue;
      background-color: #F5FEC4;
      border-color: #ebfd88;

      &:hover{
        color: $yii-dark-blue;
        background-color: #BAD9C1;
        border-color: #93c39e;
      }

      &:active{
        color: #ebf1f2;
        background-color: #83BFB3;
        border-color: #5baa9a;
      }
    }

    .social-login{
      text-align: center;
      border-left: 2px solid $yii-dark-blue;

      color:#fff;

      .github-icon{
        background: $yii-dark-blue;
        color: #fff;
        border-radius: 100px;
        @include rem(padding, 11px 22px);
        font-size: 6rem;

        i {
          background: #fff;
          color: $yii-dark-blue;
          border-radius: 25px;
          @include rem(line-height, 50px);
          @include rem(width, 50px);
          margin-left: -1px;
        }
      }

      p {
        margin: 1em 0;
      }
    }
  }
}
