
.site-header {
  color: #4d4d4d;
  margin-top: 5rem;
  margin-bottom: 1rem;

  h1 {
    font-size: 4rem;
    margin-top: 3rem;
    font-weight: bold;

    &.security {
      margin-top: 3rem;
    }
  }

  h2 {
    margin-top: 0;
  }

  img.background {
    max-height: 250px;
    float: right;
  }
}

.dropdown-toggle:after {
  position: relative;
  top: 2px;
}


@media (max-width: 992px) {
  .site-header {
    h1, h1.security {
      margin-top: 0;
    }
  }
}
