.clients {
  overflow: auto;
}

.auth-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include rem(width, 32px);
  @include rem(height, 32px);
  color: #333;
  font: normal normal normal 28px/1 FontAwesome;
  text-rendering: auto;
}

.auth-icon.github::before { content: "\f09b"; }
.auth-link:hover .auth-icon,
.auth-link:focus .auth-icon { color: #1e6887; }

.auth-clients {
  margin: 0 0 1em;
  list-style: none;
  overflow: auto;
}

.auth-client {
  float: left;
  margin: 0 1em 0 0;
}

.auth-clients .auth-client .auth-link {
  display: block;
  @include rem(width, 58px);
}

.auth-client .auth-link .auth-icon {
  margin: 0 auto;
}

.auth-client .auth-link .auth-title {
  display: block;
  margin-top: 0.4em;
  text-align: center;
}
