.comments-wrapper {
  background-color: $comments-background-color;
  padding-top: 2rem;

  .comments {
    color: $eshill-header-color;

    .heading {
      @include rem(font-size, fontsize(h3));
      font-weight: 600;

      .badge {
        position: relative;
        @include rem(top, -12px);
        color: white;
        background-color: $eshill-red;
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 25%;
        font-size: fontsize(small);
        font-weight: 600;
        font-family: $font-family-base;
      }
    }

    .component-comments {
      margin-top: 2rem;

      .comment {
        background: white;
        border: 1px dashed $eshill-blue;
        padding-bottom: 2.2rem;
        margin-bottom: 2rem;
        border-radius: 0.6rem;

        .comment-header {
          margin: 0;
          border-radius: 0.6rem;
          padding: 0.3rem 2.2rem 0.2rem;
          background-color: #fff;
          font-size: fontsize(small);

          .comment-id {
            color: lighten($comments-background-color, 5%);
            @include rem(font-size, fontsize(h3));
            font-weight: 600;
            text-decoration: none;
          }

          .details {
            @include rem(padding-top, 7px);
          }

          .voting {
            float: right;
            text-align: right;
          }
        }

        .comment-body {
          padding: 1rem 2.2rem;
        }

        .comment-footer {
          padding-left: 2.2rem;
          padding-right: 2.2rem;
        }
      }
    }
  }
}
