.star-wrapper {
  .fa {
    font-size: 1.3rem;
    font-style: normal;
    cursor: pointer;
    color: #666;
    &.fa-star {
      color: #f4a451;
    }
  }
}

.profile-star-list {
  list-style: none;
  padding: 0;

  .star-wrapper {
    display: inline;
  }
}