.voting {
  @include rem(padding-top, 7px);

  .votes {
    @include rem(font-size, fontsize(smaller));
    @include rem(margin-right, 7px);
  }

}

.vote-box {
  @extend .box;
  font-size: 1.4rem;
  color: #717171;

  a {
    color: $eshill-blue;
    text-decoration: none;
  }

  .voting {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .star-wrapper {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
