.guide-index {
    .thumbnail {
        border: none;
        h3 {
            font-size: 20px;
            color: #444;
            padding: 5px 10px;
            margin: 0;
        }
        ul {
            padding: 1em 1.5em;
            li {
                margin-bottom: 0.4em;
            }
        }
    }
}

nav.version-selector {
    float:right;
    width: auto;
    font-size: 16px;

    li {
        font-size: inherit;
    }
}

.guide-view {
    .broken-link {
        background: #FFE4EF;
        border-bottom: 1px solid lightpink;
    }

    .prev-next {
        margin-top: 50px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }

    /* move the toggle button to the left and give it some breathing room */
    .sidenav-toggle {
        float: left;
        margin-left: 10px;
    }
}

#api-navigation, #guide-navigation {
    margin-top: 24px; // same as a bootstrap h1
}

@media screen and (min-width: 768px) {
    .sidenav-toggle {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    /* outer div */
    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: left .3s ease-in;
        -most-transition: left .3s ease-in;
        transition: left .3s ease-in;
    }

    /* sidebar */
    .sidenav-offcanvas {
        left: -50%;
        width: 50%;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #F7F7F7;
        padding: 0px;
    }

    /* content */
    .row-offcanvas.active {
        left: 80%;
    }

}
