.guide-index {
    .thumbnail {
        border: none;
        h3 {
            font-size: 20px;
            color: #444;
            padding: 5px 10px;
            margin: 0;
        }
        ul {
            padding: 1em 1.5em;
            li {
                margin-bottom: 0.6em;
            }
        }
    }
}

.guide-view {
    .guide-content, .prev-next {
        font-size: 17px;

        p, li {
            min-width: 30em;
            max-width: 40em;
        }
    }

    .broken-link {
        background: #FFE4EF;
        border-bottom: 1px solid lightpink;
    }

    .prev-next {
        margin-top: 50px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }

    img.img-responsive {
        padding: 10px;
        border: 1px solid #f6f6f6;
    }

    code {
        color: #BD25C7;
        background: none;
        padding: 0;
    }

    blockquote {
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin: 2em 0;
    }

    pre {
        font-size: 15px;
        border-width: 1px 0 1px 0;
        border-radius: 0;
        background: #fcfcfc;
        border-color: #eee;
        padding: 1em;
        margin: 1em 0;
    }

    pre code {
        overflow: auto;
        word-wrap: normal;
        white-space: pre;
    }

    /* move the toggle button to the left and give it some breathing room */
    .sidenav-toggle {
        float: left;
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .sidenav-toggle {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    /* outer div */
    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: left .3s ease-in;
        -most-transition: left .3s ease-in;
        transition: left .3s ease-in;
    }

    /* sidebar */
    .sidenav-offcanvas {
        left: -50%;
        width: 50%;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #F7F7F7;
        padding: 0px;
    }

    /* content */
    .row-offcanvas.active {
        left: 80%;
    }

}
