nav.version-selector {
    float:right;
    width: auto;
    font-size: 14px;

    ul {
        list-style: none;

        li.dropdown {
            display: inline-block;

            border: 1px solid #dddddd;
            border-top: none;
            .border-bottom-radius(0);

            margin-left: 0;

            &> a, &> a:link, &> a:visited {
                color: #555555;

                display: inline-block;
                height: 40px;

                padding: 8px 18px;

            }
        }

        li.dropdown:hover, li.dropdown:active, li.dropdown.open {
            color: #ffffff;
            background: @roxie-color;

            &> a {
                color: #ffffff;
            }
        }
    }

    li {
        font-size: inherit;

        .dropdown-menu {

            background-color: #FFFFFF;
            border:0;
            border-bottom:3px solid @roxie-color;
            .border-top-radius(0);
            .border-bottom-radius(0);
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            margin:0;
            padding:0;
            min-width: 260px;
        }
    }
}

body.color-yii a.list-group-item {
    color: #555555;
    .border-top-radius(0);
    .border-bottom-radius(0);
}

a.list-group-item:hover {
    background-color: @roxie-color;
    color: #ffffff !important;
}

.submenu a.list-group-item:hover {
    background-color: #e5e5e5;
    color: #555555 !important;
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover,
a.list-group-item:active {
    background: @roxie-color;
    color: #ffffff !important;

    border-color: #dddddd;

    .border-top-radius(0);
    .border-bottom-radius(0);
}

.submenu .list-group-item.active, a.list-group-item:active {
    background: #e5e5e5 !important;
    color: #555555 !important;

    border-color: #dddddd;

    .border-top-radius(0);
    .border-bottom-radius(0);
}

.guide-content {
    .broken-link {
        background: #FFE4EF;
        border-bottom: 1px solid lightpink;
    }

    .prev-next {
        margin-top: 50px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }

    /* move the toggle button to the left and give it some breathing room */
    .sidenav-toggle {
        float: left;
        margin-left: 10px;
    }
}

.guide-content h1:first-of-type {
  margin-top: 0;
}

.api-content h1:first-of-type {
    margin-top: 36px;
}
#api-navigation,
#guide-navigation {
    margin-top: 36px; // same as a bootstrap h1
    margin-bottom: 36px;
}

.summaryTable {
    margin: 18px 0;
}

@media screen and (min-width: 768px) {
    .sidenav-toggle {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    /* outer div */
    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: left .3s ease-in;
        -most-transition: left .3s ease-in;
        transition: left .3s ease-in;
    }

    /* sidebar */
    .sidenav-offcanvas {
        left: -50%;
        width: 50%;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #F7F7F7;
        padding: 0px;
    }

    /* content */
    .row-offcanvas.active {
        left: 80%;
    }

}
