/*.site-index {
    .testimonials {
        margin-top: 3em;
        margin-bottom: 2em;

        blockquote {
            border: none;
        }
    }

    .promises {
        margin-bottom: 2em;

        ul {
            list-style: none;
        }

        li {
            margin-bottom: .4em;
        }

        span {
            margin-right: .4em;
            color: #333;
        }
    }

    .features {
        margin-bottom: 2em;

        span {
            margin-right: .2em;
            color: #333;
        }
    }
}
*/

.application-feature {


    h3 {
        display: inline-block;
    }

    .col-md-2 {
        text-align: right;
    }
    .glyphicon {
        font-size: 50px;
        color: #ffffff;
    }
}
