.site-license {
    .can {
        color: #16A314;
    }

    .cannot {
        color: #D8582B;
    }

    .must {
        color: #3B6FBA;
    }

    .legal {
        border-right: 1px solid #ddd;
        padding-right: 20px;
        min-height: 340px;
    }
}
