
.search-result {
    em {
        background: #ffff00;
    }

    h3, p {
        width: 100%;
        max-width: 100%;
    }
}

#search-resultbox {
  position: absolute;
  width: 255px;
  min-height: 150px;

  border: solid 1px #cccccc;
  background: #fff;

  display: none;
}