.navbar-brand .logo {
    height: 50px;
    margin: 12px;
    vertical-align: middle;
}

.content h1:first-child {
    margin-top: 0;
}

.navbar {
	height:74px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);

    .navbar-nav li.dropdown > a {
        height:74px;
    }
}

::selection {
    text-shadow: none !important;
    background: #fff2a8;
}

::-moz-selection {
    text-shadow: none !important;
    background: #fff2a8;
}

ul.nav {
  .glyphicon {
    margin-right: 0.4em;
    vertical-align: middle;
  }
}
