// Common style for admin pages

.admin-nav {
  ul.nav {
    li > a {
      color: white;
      padding: 5px 15px;
    }

    li > a {
      color: white;
      padding: 5px 15px;
    }

    li a:hover, li a:focus, li.active a {
      color: black;
      background: #eee;
    }

  }
}

.grid-view {
  th, td.action-column {
    white-space: nowrap;
  }
}

.detail-view th {
  white-space: nowrap;
}

.not-set {
  color: #a94442;
  font-style: italic;
}
