@mixin dashed-heading-variant($color, $background, $font-size) {
  height: 1px;
  border-top: 2px dashed rgba($color, 0.75);
  text-align: center;
  @include rem(margin-top, $font-size * 0.8);
  @include rem(margin-bottom, $font-size * 0.8);
  @media (max-width: 380px) {
    @include rem(margin-bottom, $font-size * 1.2);
  }
  span {
    @include rem(padding-right, $font-size*0.5);
    @include rem(padding-left, $font-size*0.5);
    color: $color;
    font-family: $bold-headings-font-family;
    @media (max-width: 1140px) {
      @include rem(font-size, $font-size * 0.8);
      @include rem(top, -($font-size*0.55));
    }
    @media (max-width: 380px) {
      @include rem(font-size, $font-size * 0.6);
      @include rem(top, -($font-size*0.60));
      @include rem(padding-right, $font-size*0.1);
      @include rem(padding-left, $font-size*0.1);
    }
    @include rem(font-size, $font-size);
    @include rem(top, -($font-size*0.65));
    background-color: $background;
    position: relative;
  }
}

.dashed-heading {
  @include dashed-heading-variant($eshill-header-color, $body-bg, fontsize(base));
}

.dashed-heading-jumbo {
  @include dashed-heading-variant($eshill-yellow, $eshill-light-blue, fontsize(h1));
}
.dashed-heading-front {
  @include dashed-heading-variant($eshill-header-color, $body-bg, fontsize(h1));
}
.dashed-heading-front-section {
  @include dashed-heading-variant($eshill-header-color, $body-bg, fontsize(h3));
}
.dashed-heading-front-books {
  @include dashed-heading-variant($eshill-header-color, #EBF1F2, fontsize(h1));
}
