// External links
.guide-content ul li, .guide-content p, .guide-content ol li, .style_external_links {
  a[href^="http://"]:not([href*="yiiframework.com"]):after,
  a[href^="https://"]:not([href*="yiiframework.com"]):after,
  a[href^="//"]:not([href*="yiiframework.com"]):after {
    font-family: 'fontawesome';
    font-size: 0.8em;
    content: $fa-var-external-link;
    padding-left: 2px;
  }
}

// do not display it on image links
.style_external_links .image a:after {
  content: "" !important;
}