footer {
  background-color: $footer-bg;
  color: darken($footer-color, 10%);

  a {
    color: darken($footer-color, 10%);

    &:hover {
      color: $footer-color;
    }

    &:focus {
      color: $footer-color;
      text-decoration: none;
    }
  }
}

.footerList {
  list-style: none;
  padding-left: 1rem;
  margin-top: 2rem;
}

.footerList_item {
  margin-bottom: 0.2rem;

  .social {
    i {
      margin-left: 0;
      padding: 0.6rem 0.5rem;
      display: inline-block;
      background-color: $footer-color;
      color: $footer-bg;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      margin-bottom: .2em;
      transition: color 0.3s ease-out, background 0.3s ease-in;
      line-height: 1rem;

      &:hover {
        background-color: #fff;

        &.fa-github {
          color: $sns-github;
        }

        &.fa-facebook {
          color: $sns-facebook;
        }

        &.fa-twitter {
          color: $sns-twitter;
        }

        &.fa-rss {
          color: #e5722e;
        }
      }
    }
  }
}

.footerList_item:first-child {
  color: $footer-color;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: .2rem;
  margin-left: 0;
  margin-bottom: 1rem;
}

