footer {
  background-color: $footer-background-color;
  color: darken($footer-color, 10%);
  a {
    text-decoration: none;
    color: darken($footer-color, 10%);
    &:hover {
      color: $footer-color;
    }
    &:focus {
      color: $footer-color;
      text-decoration: none;
    }
  }
}
.footer-inner {
  .center-block {
    white-space: nowrap;
    width: 40%;
    margin-left: 2rem;
    margin-right: auto;
  }
}
.footerList {
  list-style: none;
  padding-left: 1rem;
  @include rem(margin-top, 30px);
}
.footerList_item {
  @include rem(margin-bottom, 5px);
  .social {
    a {
      border: none;
    }
    i {
      margin-left: 0;
      padding: 0.6rem 0.5rem;
      display: inline-block;
      background-color: #cfcfcf;
      color: #222222;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      margin-bottom: .2em;
      transition: color 0.4s ease-out, background 0.4s ease-in;
      line-height: 1rem;
      &:hover {
        background-color: #fff;
        &.fa-facebook {
          color: #4266b1;
        }
        &.fa-twitter {
          color: #1ca1f3;
        }
        &.fa-rss {
          color: #e5722e;
        }
      }
    }
  }
}
.footerList_item:first-child {
  color: $footer-color;
  font-size: 1.2rem;
  font-family: $bold-headings-font-family;
  @include rem(margin-top, 2px);
  margin-left: 0;
  @include rem(margin-bottom, 10px);
}
