// glyphicon override using fontawesome
//
// this is to style existing glyphicons in situations where
// the markdup can not be easily adjusted to use fontawesome classes.
//
// used in:
// - admin gridview
// - apidoc edit and view source links

.grid-view a.asc:after, .grid-view a.desc:after, .glyphicon:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;

  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-synthesis: weight style;
  font-variant: normal;
  text-rendering: auto;
}

/* add sorting icons to gridview sort links */
.grid-view a.asc:after    { content: "\f160"; } // http://fontawesome.io/icon/sort-amount-asc/
.grid-view a.desc:after   { content: "\f161"; } // http://fontawesome.io/icon/sort-amount-desc/

/* define fontawesome counterpart for some glyphicons used */
.glyphicon-eye-open:after { content: "\f06e"; } // http://fontawesome.io/icon/eye/
.glyphicon-pencil:after   { content: "\f040"; } // http://fontawesome.io/icon/pencil/
.glyphicon-trash:after    { content: "\f1f8"; } // http://fontawesome.io/icon/trash/

