
a.social-icon {
  text-decoration: none !important;
  box-shadow: 0px 0px 1px rgb(51, 51, 51);
  box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}

a.social-icon:hover {
  color: rgb(255, 255, 255) !important;
}

a.facebook {
  color: rgb(59, 90, 154) !important;
}

a.facebook:hover {
  background-color: rgb(59, 90, 154) !important;
}

a.twitter {
  color: rgb(45, 168, 225) !important;
}

a.twitter:hover {
  background-color: rgb(45, 168, 225) !important;
}

a.github {
  color: rgb(51, 51, 51) !important;
}

a.github:hover {
  background-color: rgb(51, 51, 51) !important;
}

a.google-plus {
  color: rgb(244, 94, 75) !important;
}

a.google-plus:hover {
  background-color: rgb(244, 94, 75) !important;
}

a.linkedin {
  color: rgb(1, 116, 179) !important;
}

a.linkedin:hover {
  background-color: rgb(1, 116, 179) !important;
}
