$yii-yellow: rgb(223, 110, 53);//#DF6E35
$yii-blue: rgb(51, 121, 178);//#3379B2
$yii-green: rgb(140, 188, 76);//#8CBC4C

.yii-green {
    color: $yii-green;
}

.yii-blue {
    color: $yii-blue;
}

.yii-yellow {
    color: $yii-yellow;
}

// duplicated from Bootstrap variables
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee


// Global colors

$selection-color: rgb(255, 242, 168);//#fff2a8

$footer-background-color: rgb(51, 51, 51);//#333
$footer-color: $gray;

$top-header-background-color: rgb(240, 240, 240);//#F0F0F0
$top-header-color: rgb(68, 68, 68);//#444

$content-background-color: rgb(254, 254, 254);//#FEFEFE

$page-element-background-color: rgb(232, 232, 232);//#E8E8E8

// The word 'framwork' after 'yii' on Jumbotron header
$hero-framework-color: rgb(207, 207, 207);//#cfcfcf//#888;

.framework-gray {
  color: $hero-framework-color;
  font-weight: 300;
}

$jumbotron-background: transparent;
//$jumbotron-background: #247BA0;
//$jumbotron-header-color: rgb(255, 255, 255);//#fff
$jumbotron-header-color: rgb(51, 51, 51);//#333
//$jumbotron-features-color: rgb(238, 238, 238);//#eee
$jumbotron-features-color: rgb(51, 51, 51);//#333
