.thumb {
    overflow: hidden;
    position: relative;
}
.thumb .overlay {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border: 20px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
}
.thumb .more-link {
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 100%;
    z-index: 2;
}
.thumb:hover .more-link, .thumb:hover .overlay {
    opacity: 1;
}
.thumb:hover .more-link a {
    margin-top: 0;
}
.thumb .more-link a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1;
    margin-top: 15px;
    padding: 9px 12px 8px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.thumb .more-link a:hover {
    background: #ffffff none repeat scroll 0 0;
    //color: #999999;
    color: #444;
}
