.two-columns {
  @media (min-width: $grid-float-breakpoint) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    text-align:justify;
  }
}

hr.eshill-dashed {
  background-color: transparent;
  border-top: 2px dashed $eshill-yellow;
}

.divider {
  width: 500px;
  text-align: center;
}
.divider hr {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
