/** Front page books and videos widget */

.books-videos {
    background-color: #ebf1f2;
    width: 100%;

    .see-all {
        margin: 2rem .6rem 3rem .6rem;
    }
    .dashed-heading-front-books {
        margin-top: 6rem;
    }
}

.books-item {
    @include rem(padding, 22px);
    .books-header {
        @include rem(font-size, fontsize(large));
    }
    .books-image {
        padding: 0;
    }
    .books-link {
        a {
            font-weight: bold;
            font-size: 1.2rem;
        }
        margin-bottom: .6rem;
    }
    .author-publisher {
        @include rem(font-size, fontsize(smaller));
        .what {
            color: $darkish-text;
            font-weight: 600;
        }
        margin-bottom: .6rem;
    }
    .thumbnail {
        padding: inherit;
        border-radius: inherit;
        max-height: 240px;
        margin: 0 auto;
    }

    .skill {
        cursor: help;
        font-size: 0.5rem;
        &.beginner {
            color: $yii-green;
        }
        &.pro {
            color: $yii-yellow;
        }
        &.all {
            color: $yii-blue;
        }
    }


}

