/** Front page books and videos widget */

.books-videos {
    background-color: #ebf1f2;
    width: 100%;

    .see-all {
        margin: 2rem .6rem 3rem .6rem;
    }
    .dashed-heading-front-books {
        margin-top: 6rem;
    }
}

.books-item {
    @include rem(padding, 22px);
    .books-header {
        @include rem(font-size, fontsize(large));
    }
    .books-image {

    }
    .books-link {
        a {
            font-weight: bold;
            font-size: 1.8rem;
        }
        @include rem(margin-bottom, 16px);
    }
    .author-publisher {
        @include rem(font-size, fontsize(smaller));
        .what {
            color: $darkish-text;
            font-weight: 600;
        }
        .who {

        }
        @include rem(margin-bottom, 16px);
    }
    .thumbnail {
        padding: inherit;
        border-radius: inherit;
    }
    .img-responsive {
        max-width: 75%;
        @media (max-width: 767px) {
          max-width: 210px;
        }
    }

    .skill {
        vertical-align: top;
        cursor: help;
    }

    .skill.beginner {
        color: $yii-green;
    }

    .skill.pro {
        color: $yii-yellow;
    }

    .skill.all {
        color: $yii-blue;
    }
}
