.features {
  .media-body {
    @include rem(font-size, fontsize(larger));
  }
  .media-heading {
    @include rem(font-size, fontsize(h2));
    font-family: $bold-headings-font-family;
    font-weight: 600;
    img {
      height: 40px;
    }
  }
  .media-left {
    @include rem(padding-right, 20px);
  }
  .fast {
    color: $eshill-red;
  }
  .secure {
    color: $yii-green;
  }
  .efficient {
    color: $eshill-light-blue;
  }

  @media (max-width: $grid-float-breakpoint) {
    .media {
      @include rem(margin-bottom, 22px);
    }
  }

}
