.testimonials {
  .testimonial {
    .testimonial-content{

      .title {
        font-size: 1.4rem;
        font-weight: bold;
        margin: .5rem 0;
      }

      .quote {
        border-left: 2px dashed #44b3a0;
        padding-left: .5rem;
        color: #737373;
        font-style: italic;
        margin: 1rem .4rem 1rem 1rem;
      }

      img{
        min-width: 100%;
        box-shadow: 0 0 0.5rem #DDD;
      }
    }

  }
}