.tour-subheader {
  color: $eshill-yellow-diffuse;
  @include rem(font-size, fontsize(base));
}

.tour-header {
  color: $eshill-yellow;
  @include rem(font-size, fontsize(h3));
  font-family: $bold-headings-font-family;
}

.tour-content {
  @include rem(font-size, fontsize(large));

  @media (max-width: 380px) {
    @include rem(font-size, fontsize(base));
  }

  @media (max-width: 991px) {
    @include rem(margin-bottom, 15px);
  }

  a {
    color: #ebf1f2;
  }
}

@media screen and (max-width: 991px) {
  .tour-subheader {
    @include rem(margin-top, 20px);
  }
}
