@import "1-common/colors";
@import "1-common/bootstrap-variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/forms";
@import "2-vendors/custom-bootstrap/yii-dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "rem";
@import "3-global/navbar";

.dropdown-menu {
  z-index: 3000;
}

.navbar-nav > .active > a,
.navbar-nav > li > a:hover {
  height: 50px;
}

.navbar-brand {
  height: auto;
  padding-left: 0;
  padding-bottom: 0;
}

.navbar-nav .dropdown-menu > li.separator {
  font-size: 13px;
}

@media screen and (max-width: 1100px) {
  .nav > li > a {
    padding: 0 8px;
  }

  .navbar-nav {
    margin: 14.5px -15px;
    display: flex;
    align-items: center;

    > .active > a, > li > a:hover {
      height: auto;
    }

    > li.open > .dropdown-menu {
      z-index: 1001;
    }
  }
}
