$api-box-padding-x: $font-size-base;
$api-box-padding-y: ceil($font-size-base / 2);

.api-content {

  ul {
    padding-left: 1rem;
    @include media-breakpoint-up('sm') {
      padding-left: 3rem;

    }
    list-style-type: none;

    li {
      margin-bottom: 1rem;
    }

    li:before {
      background: $eshill-green;
      content: "";
      margin-right: .5em;
      font-size: 13px;
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-bottom: .1em;
    }
  }

  a.tool-link {
    float: right;
    color: #ddd;
    font-size: 1.4rem;
    @include rem(margin, 0 8px);
    &:hover {
      color: #bbb;
    }
  }

  .icon-hash:before {
    content: '#';
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.7rem;
  }



  // old Yii 1.1 and 1.0 API docs
  .api1 {
    pre {
      @extend .content;
      @extend pre;
      @extend code;
    }

    div.code {
      @extend .content;
      @extend pre;
      @extend code;

      display: none;
    }

    table.summaryTable {
      @extend .table;
      @extend .table-bordered;
      @extend .table-striped;

      width: 100%;
      @include rem(margin, 18px 0);
    }

    table.docClass {
      th {
        width: 25%;
      }
    }

    .detailHeader {
      font-weight: bold;
      @include rem(font-size, 24px);
      @include rem(margin, 30px 0 5px 0);
      border-bottom: 1px solid #ddd;
    }

    .detailHeaderTag {
      font-weight: normal;
      @include rem(font-size, 20px);
    }

    .paramNameCol {
      width: 12%;
      font-weight: bold;
    }

    .paramTypeCol {
      width: 12%;
    }

    .sourceCode {
      @include rem(margin, 5px 0);
      @include rem(padding, 5px);
      background: #f9f9f9;
      white-space: normal;

      a.show {
        display: inline !important;
      }
    }

    #nav {
      @include rem(padding, 3px);
      @include rem(margin, 0 0 10px 0);
      border-top: 1px #ddd solid;
    }

    #classDescription {
      @extend .content;
      @extend p;
    }
  }

  .signature, td.signature, td .signature2 {
    margin: 1em 0;
    padding: $api-box-padding-y $api-box-padding-x;
    color: #000000;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: $font-family-monospace;
    word-wrap: break-word;
    word-break: break-all;
  }

  td .signature2 {
    margin: 0;
    border: none;
    padding: 0;
  }

  .property-doc .signature {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    margin: 0;
  }

  .detail-header {
    font-size: floor($font-size-base * 1.5);
    margin: 2rem 0 0 0;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    padding: $api-box-padding-y $api-box-padding-x;
  }

  .doc-description {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    padding: $api-box-padding-y $api-box-padding-x;
    margin: 0;

    &.deprecated {
      background: lightpink;
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
    }

    .event-doc & {
      border-bottom: solid 1px #ddd;
    }
  }

  table {
    @extend .table-responsive;
    tbody > tr > td,
    tbody > tr > th {
      padding-left: $api-box-padding-x;
    }
  }

  table td p:last-child,
  .doc-description p:last-child {
    margin-bottom: 0;
  }


  .signature-defs {
    color: #936;
  }

  .signature-type, .signature-type a {
    color: #693;
  }


  table.detail-table {
    .param-name-col {
      width: 15%;
      min-width: 10em;
    }

    .param-type-col {
      width: 20%;
      min-width: 12em;
    }

    .param-desc-col {
      width: 65%;
    }
  }

  table.summary-table {
    .col-method {
      width: 20%;
    }

    .col-property {
      width: 20%;
    }

    .col-const {
      width: 20%;
    }

    .col-event {
      width: 20%;
    }

    .col-defined {
      width: 15%;
    }
  }

  .top-nav {
    @include rem(padding, 3px);
    @include rem(margin, 0 0 10px 0);
    border-top: 1px #ddd solid;
  }

}

#api-navigation {
  @extend %sidenav;

  > a.has-children {
    text-transform: none;
  }

  .api-ns-level-0 {
    color: $eshill-green;
  }

  .api-ns-level-1 {
    color: #247BA0;
  }

  .api-ns-level-2 {
    color: $eshill-blue;
  }
}


.property-doc {
  margin-bottom: 2rem;
}