.userbadge {
  border: 1px solid #d1dbdf;
  height: 60px;
  padding-left: 65px;
  margin-top: 2rem;

  .userbadge-info {
    float: left;
    height: 60px;
    width: 100%;
    margin-top: -60px;
    padding: 7px;

    h2, h3 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;

      a {
        text-decoration: none;
      }
    }

    .percent {
      margin-top: -30px;
      margin-right: 15px;
      vertical-align: middle;
      float: right;
      color: #666;
    }

    .x {
      color: #666;
      margin-right: 4px;
    }

    .count {
      font-weight: bold;
    }
  }
}

.userbadge-icon {
  width: 64px;
  height: 60px;
  float: left;
}

.userbadge-progress-bar {
  background: #effaff;
  height: 60px - 2px;
}

// badge image sprites
.userbadge, .userbadge-icon {
  background-image: url(../../../image/user/badges.png);
  background-repeat: no-repeat;
}

.userbadge {
  &-supporter {
    background-position: 0 -329px;
  }

  &-greenhorn {
    background-position: 0 -590px;
  }

  &-extension-smith {
    background-position: 0 -262px;
  }

  &-regular {
    background-position: 0 -195px;
  }

  &-editor {
    background-position: 0 -68px;
  }

  &-critic {
    background-position: 0 -455px;
  }

  &-mogul {
    background-position: 0 -522px;
  }

  &-civic-duty {
    background-position: 0 -134px;
  }

  &-commentator {
    background-position: 0 -393px;
  }
}

.view-user-view-badge {
  .userbadge-icon {
    border-radius: 64px;
  }

  h2, .description {
    margin-top: 0;
  }

  .description {
    text-transform: uppercase;
    color: grey;
    font-size: $font-size-h4;
  }

  .info {
    clear: both;
    margin-top: 2rem;
  }
}