.container.download {

  .medium {
    font-size: 1.3rem;
  }

  .separator {
    padding: 0 1rem;
  }

  .install {
    line-height: 2.6rem;
    padding-top: 1.6rem;
  }

  .btn-download {

    img {
      height: 3rem;
    }

    i {
      font-size: 2rem;
    }

    span {
      padding: 0.3rem 0 0.3rem 1.5rem;
    }
  }

  .heading-separator h2 {
    @include dashed-heading-variant($eshill-header-color, #fff, fontsize(h1));
    margin: 3.5rem 0;
  }

  h1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  pre code {
    padding: 2rem 4rem;
  }


  ul.offline-doc-v1, ul.offline-doc-v2 {
    @extend .row;

    li {
      @extend .col-6;
      @extend .col-sm-4;
      @extend .col-md-3;
      @extend .col-lg-2;
      display: inline-block;
      margin: 1rem 0;

      img {
        box-shadow: 0 0 0.5rem #DDD;
        margin-bottom: 1rem;
      }

      span {
        display: block;
      }
    }
  }

}
