
.container.download {
	color:#4d4d4d;
	margin-bottom: 6rem;

	p{
		font-size:1.8rem;
	}

	.small{
		font-size: 1.6rem;
	}

	.medium{
		font-size: 2.3rem;
	}

    .separator{
        padding: 0 1rem;
    }

    .install{
        line-height: 2.6rem;
        padding-top: 1.6rem;
    }

    .ptrem1{
        padding:1rem 0;
    }

    .ptrem2{
        padding:2rem 0;
    }

	.download-btn{
		border-color: #1e6887;
		color: #1e6887;
		font-size: 2.3rem;
		padding: 0.8rem 2.2rem;
		font-weight: normal;
		letter-spacing: 0rem;
		margin: 1.6rem 0;

		i{
			font-size:4rem;
		}

		span{
			padding:0.3rem 0 0.3rem 1.5rem;
		}
	}

	.heading-separator h2 {
		@include dashed-heading-variant($eshill-header-color, #fff, fontsize(h1));
		margin: 6.5rem 0;
	}

    h1{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    code{
        padding: 2rem 4rem;
    }


	ul.offline-doc-v2{
		text-align: center;

        li{
            display:inline-block;
            margin:4rem;

            img{
                box-shadow: 0 0 0.5rem #DDD;
                margin-bottom: 2rem;
            }

            span{
                display: block;
            }
        }
	}

    ul.offline-doc-v1{
        text-align: center;

        li{
            display:inline-block;
            margin:3rem;
        }
    }

}
