.halloffame-members {
  @extend .col-lg-3;
  @extend .col-6;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    padding: .4em 0;
    border-bottom: 1px solid #eee;
  }

  li:last-child {
    border-bottom: none;
  }

  h3 {
    text-align: center;
  }

  span {
    float: right;
    color: $eshill-green;
  }
}

.person-card {
  margin-bottom: 2em;
}

.halloffame-members:nth-child(2n) {
  background: #f9f9f9;
}

.halloffame-all-members {
  clear: both;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 4rem;
}
