.content.license {

  padding: 0 15px;

  .text {
    background-color: #ebf1f2;
    padding: 1em 2em;
  }

  .can {
    background-color: #e1f7d9;
  }

  .cannot {
    background-color: #ffd9e3;
  }

  .must {
    background-color: #f1f7f8;
  }

  .points {
    overflow: hidden;
  }

  .points {
    padding-bottom: 1em;

    .col-md-4, .col-md-6 {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }
  }
}
