.logo-download-light {
  background-color: $eshill-section-bgcolor;
  padding: 1em;
  img {
    max-width: 100%;
  }
}

.logo-download-dark {
  color: $eshill-section-bgcolor;
  background-color: $eshill-blue;
  padding: 1em;
  img {
    max-width: 100%;
  }
}
