.container.report {
    color:#4d4d4d;
    margin-bottom: 6rem;

    p {
        font-size:1.8rem;
    }

    .small {
        font-size: 1.6rem;
    }

    .medium {
        font-size: 2.3rem;
    }

    .github-btn {
        display: inline-flex;
        border-color: #1e6887;
        color: #1e6887;
        font-size: 2.6rem;
        padding: 0.8rem 2.2rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        margin: 1.6rem 0;

        i {
            font-size:4rem;
        }

        span{
            padding:0.3rem 0 0.3rem 1.5rem;
        }
    }

    .extensions {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;

        ul {
            list-style:none;
            padding: 0;
            margin: 0;

            li {
                padding: 1.4rem;

                a {
                    font-size:1.6rem;
                }

                span {
                    display: block;
                }
            }
        }
    }

    ol.issue-process li {
        margin-top:3rem;
    }

    .btn.btn-send {
        padding:1rem 6rem;
        margin-bottom: 3rem;
    }

    .heading-separator h2 {
        @include dashed-heading-variant($eshill-header-color, #fff, fontsize(h1));
        margin: 6.5rem 0;
    }
}

.report-issue {
    @media (max-width: 991px)  {
        .btn {
          margin-bottom: 20px;
        }
    }
}
