.site-resources {
    .header {
        h1 {
            @include rem(font-size, 65px);
            font-weight: bold;
        }
    }

    .group {
        margin-bottom: 1em;

        h3 {
            text-align: center;
            font-weight: bold;
        }

        .image {
            border: none;
            text-align: center;
        }
    }
}

@media (min-width: 1000px) {
    .site-resources .header .background {
        position: relative;
        margin-top: -9em;
        z-index: -1;
    }
}
