.site-resources {
  .header {
    h1 {
      @include rem(font-size, 65px);
      font-weight: bold;
    }
  }

  .group {
    h3 {
      text-align: center;
      font-weight: bold;
    }

    .image {
      border: none;
      text-align: center;
    }

    margin-bottom: 1em;
  }
}

@media (min-width: 1000px) {
  .site-resources .header .background {
    position: relative;
    margin-top: -10em;
    z-index: -1;
  }
}
