
.avatar img {
  border: 2px solid $eshill-section-bgcolor;
  margin-bottom: 1em;
}

.heading-separator h2 {
  @include dashed-heading-variant($eshill-header-color, #fff, fontsize(h1));
  margin: 3.5rem 0;
}


.team-content {
  h4 {
    font-weight: bold;
    text-align: center;
  }

  p {
    text-align: center;
  }

  p.duty {
    font-weight: bold;
  }

  p.location {
    color: #737373;
  }

  .links-inline {
    list-style: none;
    text-align: center;
    padding: 0;
    min-height: 4rem;

    .fa-stack-1-5x {
      font-size: 1.5em;
    }

    .fa-twitter {
      line-height: 2.2em;
      font-size: 0.75em;
    }

    li {
      display: inline;
      span {
        color: #999;
      }

      a {
        color: $darkish-text;
        @include rem(padding, 3px);
      }
    }

    li.github {
      span:hover {
        color: $sns-github;
      }
    }

    li.twitter {
      span:hover {
        color: $sns-twitter;
      }
    }
  }
}

#contributors img {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: .1rem;
}
