.btn-new-wiki-article {
  font-size: 1.8rem;
  font-family: "pt_sansregular", sans-serif;
  color: $eshill-light-blue;
  background-color: #F5FEC4;
  border-color: #70c1b3;
  margin-top: 1.5rem;

  .big {
    font-size: 2.4rem;
    display: block;
  }
  .small {
    display: block;
  }
  &:hover {
    color: $link-color;
    background-color: #BAD9C1;
    border-color: #93c39e;
  }
  &:active {
    color: $eshill-section-bgcolor;
    background-color: #83BFB3;
    border-color: #5baa9a;
  }
}
.wiki-search {
  margin: 1.5rem 0 1.5rem 0;
}
h3.wiki-side-title {
  border-top: 1px solid $eshill-section-bgcolor;
  border-bottom: 1px solid $eshill-section-bgcolor;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 1.5rem 0 1.5rem 1rem;
}
ul.wiki-side-menu {
  background-color: #f2f9fa;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 0;

  &.last-side-menu {
    margin-bottom: 2rem;
  }
  li a {
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    padding: 10px 16px;
    cursor: pointer;

    &:hover {
      color: $eshill-blue;
      background-color: #fff;
    }
  }
  li a span.count {
    font-size: 1.2rem;
    display: inline;
    color: #808080;
  }
  li.active a, li.active a:hover {
    background-color: #70c1b3;
    color: #fff;
  }
}
.wiki-row {
  margin-bottom: 2rem;

  .suptitle {
    color: #70c1b3;
    font-size: 1.4rem;
  }
  h2.title {
    margin: 0.5rem 0 3rem 0;
    font-size: 2.5rem;
  }
  .text {
    margin-top: 1rem;
  }
  .comments {
    margin-top: 0.5rem;

    a {
      color: #808080;
      font-size: 1.4rem;
    }
  }
}
.vote-box {
  border: 1px solid $eshill-section-bgcolor;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 1.4rem;
  color: #c1c1c1;

  a {
    color: #70c1b3;
  }
  .voting {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .star-wrapper {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .viewed, .version, .group, .tags, .people, .dates {
    color: #959595;
  }
}
/*
TODO why should wiki pagination be styled differently from the rest of the site?
nav.wiki-pagination-holder {
  text-align: center;

  .wiki-pagination {
    li a, li a:hover {
      border-color: #b2dbbf;
      color: #b2dbbf;
      border-radius: 0.7rem;
      margin: 0 0.2rem 0 0.2rem;
    }
    li.active a, li.active a:hover {
      color: #fff;
      border-color: #b2dbbf;
      background-color: #70c1b3;
    }
    li.disabled span, li.disabled span:hover {
      border-radius: 0.7rem;
      margin: 0 0.2rem 0 0.2rem;
      color: #e8f4ec;
      border-color: #e8f4ec;
    }
  }
}*/
#wiki-content {
  resize: vertical;
  min-width: 100%;
  max-width: 100%;
  min-height: 350px;
}
.diff, .memo {
  font-family: $font-family-monospace;
  font-weight: normal;
  @include rem(font-size, $font-size-codeblocks);

  color: #000;
  background-color: #fcfcfc;
  border-left: 5px solid #EBF1F2;
  overflow: auto;
  word-wrap: normal;

  padding: 15px;

  .diff-snip {
    color: #b2dbbf;
    font-style: italic;
    margin: 2.5rem 0;
  }

  ins {
    //background: #e6ffe6;
    background: rgba(133, 215, 201, 0.71);
    text-decoration: none;
  }

  del {
    //background: #ffe6e6;
    background: rgba(255, 22, 84, 0.6);
    text-decoration: line-through #f00;
  }
}
.changed {
  font-weight: normal;
  background: rgba(255, 22, 84, 0.6);
  color: #000;
}
.unchanged {
  font-weight: normal;
  background: rgba(133, 215, 201, 0.71);
  color: #000;
}
.next-revision {
  float: right;
}
