.book {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 2px solid lighten($eshill-light-blue, 40%);
  background-color: $eshill-section-bgcolor;
  .author {
    font-size: 24px;
    color: $gray;
    padding-bottom: 1em;
  }
  img {
    margin-bottom: 1em;
  }
  %level {
    color: #fff;
    padding: 1em;
    margin-top: 1em;
  }
  .green {
    @extend %level;
    background-color: $yii-green;
  }
  .red {
    @extend %level;
    background-color: $yii-yellow;
  }
  .blue {
    @extend %level;
    background-color: $yii-blue;
  }
}
