
.guide-content {
  .broken-link {
    background: #FFE4EF;
    border-bottom: 1px solid lightpink;
  }

  .prev-next {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
}

.edit-icon {
  margin: .5em 1em .5em 0;
  float: left;

  i {
    font-size: 2em
  }

}

.hashlink {
  display: none;
  text-decoration: none;
}

.hashlink:hover {
  text-decoration: none;
}

h1:hover .hashlink,
h2:hover .hashlink,
h3:hover .hashlink {
  display: inline;
}


.guide-content h1:first-of-type {
  margin-top: 0;
}

//.api-content h1:first-of-type {
//    margin-top: 36px;
//}
#api-navigation,
#guide-navigation {
  margin-top: 15px; // same as a bootstrap h1
  margin-bottom: 15px;
}

// adjustments for rtl languages
.lang-he {
  direction: rtl;

  pre, code {
    direction: ltr;
  }

  ul.list-unstyled {
    padding-right: 0;
  }

  .guide-headline {
    text-align: left;
  }

  .guide-content {
    padding-top: 52px;
  }

  // container for english language inside of rtl content
  .lang-en {
    text-align: left;
    direction: ltr;
  }

  p.lang-en {
    max-width: 100%;
  }
}

div.toc {
  border: solid 1px #ddd;
  padding: 15px;
  margin: 15px 0;
  width: auto;
  max-width: 36em;

  ol {
    margin: 0;
    width: auto;
  }
}

div.image {
  border: solid 1px #ddd;
  padding: 0;
  margin: 15px 0;
  width: auto;
  //    max-width: 36em;
  text-align: center;

  p {
    background: #eee;
    text-align: center;
    margin: 0;
    max-width: 100%;
  }
  img {
    margin: 15px auto;
    padding: 0;
    max-width: 100%;
  }
  img.img-responsive {
    padding: 0;
    border: none;
  }
}

/*
* Off Canvas
* --------------------------------------------------
*/
@media screen and (max-width: 767px) {
  .row-offcanvas {
    left: 0;
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas
  .sidenav-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas.active {
    left: 50%; /* 6 columns */
  }

  .sidenav-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

// scrollnav styles nicked from Bootstrap docs
#scrollnav {

  .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
  }

  .nav>li>a:focus,
  .nav>li>a:hover {
    padding-left: 19px;
    color: $yii-yellow;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid $yii-yellow;
  }

  .nav>.active:focus>a,
  .nav>.active:hover>a,
  .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: $yii-yellow;
    background-color: transparent;
    border-left: 2px solid $yii-yellow;
  }

  .nav .nav {
    display: none;
    padding-bottom: 10px;
  }
  .nav>li.active>.nav {
    display: block;
  }

  .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
  }
  .nav .nav>li>a:focus,
  .nav .nav>li>a:hover {
    padding-left: 29px;
  }
  .nav .nav>.active:focus>a,
  .nav .nav>.active:hover>a,
  .nav .nav>.active>a {
    padding-left: 28px;
    font-weight: 500;
  }
}
