.guide-content {
  .broken-link {
    background: #FFE4EF;
    border-bottom: 1px solid lightpink;
  }

  .prev-next {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  .panel-heading {
    h3 {
      text-transform: uppercase;
    }
  }
  .panel .panel-body {
    > ul.list-unstyled {
      border-top: 1px dashed $gray;
      padding-top: 12px;
      li {
        margin-bottom: 12px;
      }
    }
  }

}

.edit-box {
  border: 1px solid $eshill-blue;
  border-radius: 6px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  width: 60%;
  color: $eshill-blue;
  .edit-icon {
    margin-top: .2em;
    margin-right: 1.5em;
    margin-bottom: .5em;
    margin-left: 1.5em;
    float: left;
    i {
      font-size: 3.5em;
      color: $eshill-blue;
    }
  }
}

.hashlink {
  display: none;
  text-decoration: none;
}

.hashlink:hover {
  display: none;
  text-decoration: none;
}

h1:hover .hashlink,
h2:hover .hashlink,
h3:hover .hashlink {
  display: none;
}


.guide-content h1:first-of-type {
  margin-top: 0;
}

div.toc {
  border: solid 1px #ddd;
  padding: 15px;
  margin: 15px 0;
  width: auto;
  max-width: 36em;

  ol {
    margin: 0;
    width: auto;
  }
}

div.image {
  border: solid 1px #ddd;
  padding: 0;
  margin: 15px 0;
  width: auto;
  //    max-width: 36em;
  text-align: center;

  p {
    background: #eee;
    text-align: center;
    margin: 0;
    max-width: 100%;
  }
  img {
    margin: 15px auto;
    padding: 0;
    max-width: 100%;
  }
  img.img-responsive {
    padding: 0;
    border: none;
  }
}
