.content-separator {
	margin-top: 2em;
}
.sitejumbo {
	position: relative;
	height: 1155px;
	background-color: $eshill-light-blue;
}
.sitejumbo:after {
	background: url(../image/yiibackground.png);
	background-position: right;
	background-repeat: no-repeat;
	content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
.row {
	z-index: 100;
	opacity: 1;
}
