.content-separator {
  margin-top: 2em;
}
.btn-front {
  @include button-variant($eshill-green, transparent, lighten($eshill-green, 20%));
  font-size: 22px;
  transition:color 0.4s ease-out, background 0.4s ease-in;
  &:hover,
  &:focus,
  &:active {
    background-color: $eshill-green;
    border: 1px solid #fff;
    color: #fff;
  }
  @media (max-width: 380px) {
    font-size: 16px;
  }
  margin-bottom: 12px;
}

ul.latest-list {
  color: $eshill-green;
  list-style-type: square;
  line-height: 36px;
  li {
    a {
      font-size: 18px;
      &:hover {
        text-decoration: underline dashed $eshill-green;
      }
    }
  }
}
