.site-license {
    .can {
        color: $yii-green;
    }

    .cannot {
        color: $yii-yellow;
    }

    .must {
        color: $yii-blue;
    }

    .legal {
        border-right: 1px solid #ddd;
        @include rem(padding-right, 20px);
        @include rem(min-height, 340px);
    }
}
