.src-image {
  display: none;
}

.team-card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: $yii-blue;
  color: $yii-blue;
  margin-bottom: 1em;
}

.team-card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.team-card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.team-card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}




.profile {
    .brands li a {
        color: #fff;
        background-color: #777;
    }

    .duty {
        text-align: center;
    }

    img {
        width: 262px;
    }
}

#contributors img {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 1px;
}
