.profile {
    .brands li a {
        color: #fff;
        background-color: #777;
    }

    .duty {
        text-align: center;
    }

    img {
        width: 262px;
    }
}

#contributors img {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 1px;
}
