.wikijumbo {
    background-color: #303133;
    //overflow: visible;
    width: 100%;
    margin-bottom: 2em;
}

.wikijumbo img {
    margin: 0;
    width: 100%;
    padding: 0;
}

.wikijumbo .wiki-header {
    right: 50%;
    @media (max-width: $grid-float-breakpoint) {
      margin-top: -8vh;
    }
    margin-top: -16vh;
    padding: 0;
    position: relative;
    text-align: right;
    top: 50%;
    h1 {
      font-size: 58px;
      @media (max-width: $grid-float-breakpoint) {
        font-size: 38px;
    	}
      @media (max-width: $container-tablet) {
        font-size: 28px;
    	}
      font-weight: 700;
    }
    color: $eshill-section-bgcolor;
}

/* Blur Effect */

.image-wrap {
  position: relative;
  @media (max-width: $grid-float-breakpoint) {
    height: 227px;
    max-height: 227px;
  }
  @media (max-width: $container-tablet) {
    height: 144px;
    max-height: 144px;
  }
  height: 454px;
  max-height: 454px;
  overflow: hidden
}

.regular,
.blurred {
  position: absolute;
  width: 100%;
  min-height: 454px;
  @media (max-width: $grid-float-breakpoint) {
    min-height: 227px;
  }
  @media (max-width: $container-tablet) {
    min-height: 144px;
  }
  -webkit-transform: translate3d(0, 0, 0);
}

.regular {
  opacity: 1;
}

.blurred {
  opacity: 0;
}

.content {
  z-index: 600;
}
