diff, .memo {
    font-family: monospace;
    font-weight: normal;

    color: #000;
    background-color: #fcfcfc;
    border-left: 5px solid #EBF1F2;
    overflow: auto;
    word-wrap: normal;

    padding: 15px;
}

.diff .diff-snip {
    color: #b2dbbf;
    font-style: italic;
    margin: 2.5rem 0;
}

.diff ins {
    background: rgba(133, 215, 201, 0.71);
    text-decoration: none;
}

.diff del {
    background: rgba(255, 22, 84, 0.6);
    text-decoration: line-through #f00;
}
.changed {
    font-weight: normal;
    background: rgba(255, 22, 84, 0.6);
    color: #000;
}
.unchanged {
    font-weight: normal;
    background: rgba(133, 215, 201, 0.71);
    color: #000;
}