.books-videos {
  background-color: #EBF1F2;
  .books-videos-description {
    @include center-block;
  }
  .books-item {
    @include rem(padding, 22px);
    .books-header {
      @include rem(font-size, 22px);
    }
    .books-image {

    }
    .books-link {
      a {
        font-weight: bold;
        @include rem(font-size, 18px);
      }
      @include rem(margin-bottom, 16px);
    }
    .author-publisher {
      @include rem(font-size, 12px);
      .what {
        color: $eshill-green;
      }
      .who {

      }
      @include rem(margin-bottom, 16px);
    }
  }
  .see-all {
    @include rem(margin-right, 6px);
    @include rem(margin-left, 6px);
  }
}
