.content-separator.section-poweredby {
	.container {
				img {
					-webkit-filter: grayscale(1);
				  filter: grayscale(1);
					height: 40px;
					margin: 2em;
				}
				.poweredby {
					margin: auto;
					width: 60%;
				}

	}
}
