.content-separator.section-poweredby {
	.container {
		padding: 2em;
		background-color: $yii-blue;
		img {
			-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
		  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
		}
	}
}
