.sitejumbo {
  //height: 900px;
  background-color: $eshill-light-blue;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../image/yiibackground.png);
  background-height: 100%;
  overflow: hidden;
  background-blend-mode: soft-light;
  z-index: -1;
  .container {
    padding: 1em;
    color: $eshill-section-bgcolor;
    h1 {
      font-size: 48px;
      @media (max-width: 1140px) {
        font-size: 36px;
      }
      @media (max-width: 380px) {
        font-size: 22px;
      }
      font-family: $bold-headings-font-family;
    }
    .propaganda {
      font-size: 26px;
      @media (max-width: 1140px) {
        font-size: 22px;
      }
      @media (max-width: 380px) {
        font-size: 16px;
      }
      color: darken($eshill-section-bgcolor, 8%);
    }
    .btn {
      @include button-variant($eshill-light-blue, $eshill-yellow, transparent);
      font-size: 22px;
    }
  }
}

.glide__track {
  padding: 0;
}
