.sitejumbo {
  height: 900px;
  background-color: $eshill-light-blue;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../image/yiibackground.png);
  background-height: 100%;
  overflow: hidden;
  background-blend-mode: soft-light;
  z-index: -1;
  .container {
    padding: 1em;
    color: $eshill-section-bgcolor;
    h1 {
      font-size: 48px;
    }
  }
}
