.section-testimonials {
	.container {
		//color: #ddd;
		font-size: 20px;
		font-style: italic;
		padding: 2em;
		h3 {
			//color: #ccc;
			small {
				//color: #bbb;
			}
		}
		min-height: 330px;
	}
}
