.section-testimonials {
	.container {
		//color: #ddd;
		font-size: 20px;
		font-style: italic;
		padding: 2em;
		h3 {
			//color: #ccc;
			small {
				//color: #bbb;
			}
		}
		min-height: 330px;
	}
}

/* carousel */
#quote-carousel
{
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
	color: $jumbotron-header-color;
  //color: #bbb;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 10px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -90px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -80px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  //background: #bbb;
}
#quote-carousel .carousel-indicators .active
{
  //background: #fff;
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
			padding-top:0;
			padding-right:20px;
			padding-bottom:15px;
			padding-left:20px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
