.tour-subheader {
  color: $eshill-yellow-diffuse;
  @include rem(font-size, 18px);
}
.tour-header {
  color: $eshill-yellow;
  @include rem(font-size, 28px);
  font-family: $bold-headings-font-family;
}
.tour-content {
  @include rem(font-size, 22px);
  @media (max-width: 380px) {
    @include rem(font-size, 16px);
  }
}
