.tour-subheader {
  color: $eshill-yellow-diffuse;
  font-size: 18px;
}
.tour-header {
  color: $eshill-yellow;
  font-size: 28px;
  font-family: $bold-headings-font-family;
}
.tour-content {
  font-size: 22px;
}
