html,
body {
    height: 100%;
}

body {
    padding-top: 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.guide-view.navbar {
    border: 0;
}

.list-group-item.active {
    background: #D6E3FF;
    border-color: #D6E3FF;
    color: #000;
}

.submenu .list-group-item {
    padding-left: 30px;
}

.submenu .list-group-item.active {
    background: #4582ec;
    border-color: #4582ec;
    color: #fff;
}

.fixlink {
    position: fixed;
    top: 140px;
    right: 50px;
    padding: 5px 8px 0 5px;
    border: solid 1px #ddd;
    border-radius: 5px;
    background: #fff;
}

.fixlink a {
    color: #bbb;
    text-decoration: none;
}

.fixlink a:hover {
    color: #666;
}

.hashlink {
    display: none;
    text-decoration: none;
}

.hashlink:hover {
    text-decoration: none;
}

h1:hover .hashlink,
h2:hover .hashlink,
h3:hover .hashlink {
    display: inline;
}

code {
    color: #BD25C7;
    background: none;
}
