.content {

    p a:visited:not(:hover) {
      color: $link-visited-color;
    }

    code {
        background: $selection-color;
        color: inherit;
        font-weight: bolder;
    }

    pre {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        background: #232323;
        color: #e6e1dc;
        -webkit-text-size-adjust: none;
    }

    .hl-code pre {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      background: #fcfcfc;
      color: #232323;
    }

    pre code {
        background: inherit;
        font-weight: inherit;
    }
}
