.content {

    @include make-md-column(12);

    background-color: $content-background-color;
    border-radius: 5px;
    margin-bottom: 1em;

    p a:visited:not(:hover) {
      color: $link-visited-color;
    }

    p, li, blockquote, .alert, div.toc {
        //max-width: 40em; //TODO: is this really needed?
        font-size: $font-size-base;
    }

    code {
        background: $selection-color;
        color: inherit;
        font-weight: bolder;
    }

    pre {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        background: #232323;
        color: #e6e1dc;
        -webkit-text-size-adjust: none;
    }

    .hl-code pre {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      background: #fcfcfc;
      color: #232323;
    }

    pre code {
        background: inherit;
        font-weight: inherit;
    }
}
