// Global styles

// External links
/* long version */
.main a[href^="http://"]:not([href*="yiiframwork.com"]):after,
.main a[href^="https://"]:not([href*="yiiframwork.com"]):not([href="https://github.com/yiisoft/yii2"]):after,
.main a[href^="//"]:not([href*="yiiframwork.com"]):after {
  font-family: 'fontawesome';
  font-size: 0.8em;
  content: $fa-var-external-link;
  padding-left: 2px;
}
.content a[href^="http://"]:not([href*="yiiframwork.com"]):after,
.content a[href^="https://"]:not([href*="yiiframwork.com"]):not([href="https://github.com/yiisoft/yii2"]):after,
.content a[href^="//"]:not([href*="yiiframwork.com"]):after {
  font-family: 'fontawesome';
  font-size: 0.8em;
  content: $fa-var-external-link;
  padding-left: 2px;
}

::selection {
    text-shadow: none !important;
    background: $selection-color;
    color: $gray-darker;
}

::-moz-selection {
    text-shadow: none !important;
    background: $selection-color;
    color: $gray-darker;
}

footer {
	background-color: $footer-background-color;
}

.logo-download-light {
  background-color: $top-header-background-color;
}

.logo-download-dark {
  color: $top-header-background-color;
  background-color: $eshill-blue;
}

.affix {
  top: 10px;
  background-color: $top-header-background-color;
  z-index: 300;
}

.affix-bottom {
  top: 50px;
}

.topmost {
  z-index: 300;
  overflow: hidden;
  right: -12px;
  opacity: 0.4;
  &:hover {
    opacity: 0.9;
    right: 1px;
  }
}
