// Global styles

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 210px;
$footer-height-mobile: 275px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
	@media (max-width: $grid-float-breakpoint) {
		margin-bottom: $footer-height-mobile;
	}
  @media (max-width: $container-tablet) {
		margin-bottom: $footer-height-mobile + 100px;
	}
}

/*
 HEADER first line
*/
.top-header {
	background-color:#F0F0F0;
	border-bottom:1px solid #DDDDDD;
	height:40px;
    .header-item {
        display:inline-block;
        margin-right:20px;
        font-size:12px;
				position:relative;
        top:-3px;
    }

    .header-item i {
        margin-right:7px;
    }

    .brands {
        display:inline-block;
        position:relative;
        top:-5px;
				left: -24px;
    }
}
/*
 HEADER navigation
*/
header.navbar.navbar-inverse {
	padding: 0;
	margin: 0;
}

.navbar {
	position: relative;
	top: -25px;
	@media (max-width: $grid-float-breakpoint) {
		top: 0px;
	}
}

.navbar-header {
		position: relative;
		top: -6px;
}

::selection {
    text-shadow: none !important;
    background: #fff2a8;
}

::-moz-selection {
    text-shadow: none !important;
    background: #fff2a8;
}


footer {
  position: absolute;
  font-size: smaller;
  .footer-header {
    font-family: $headings-font-family;
    font-size: 26px;
    margin-bottom: 0.5em;
  }
  bottom: 0;
  width: 100%;
  height: $footer-height;
	@media (max-width: $grid-float-breakpoint) {
		height: $footer-height-mobile;
	}
  @media (max-width: $container-tablet) {
		height: $footer-height-mobile + 100px;
	}
	background-color: #333333;
	color: $gray;
	margin-top: 4em;
  padding-top: 2em;
  .fa {
    margin-right: 0.5em;
  }
}
