// Global styles

// External links
/* long version */
.main a[href^="http://"]:not([href*="yiiframwork.com"]):after,
.main a[href^="https://"]:not([href*="yiiframwork.com"]):not([href="https://github.com/yiisoft/yii2"]):after,
.main a[href^="//"]:not([href*="yiiframwork.com"]):after {
  font-family: 'fontawesome';
  font-size: 0.8em;
  content: $fa-var-external-link;
  padding-left: 2px;
}
.guide-content p a[href^="http://"]:not([href*="yiiframwork.com"]):after,
.guide-content p a[href^="https://"]:not([href*="yiiframwork.com"]):not([href="https://github.com/yiisoft/yii2"]):after,
.guide-content p a[href^="//"]:not([href*="yiiframwork.com"]):after {
  font-family: 'fontawesome';
  font-size: 0.8em;
  content: $fa-var-external-link;
  padding-left: 2px;
}

::selection {
    text-shadow: none !important;
    background: $selection-color;
    color: $gray-darker;
}

::-moz-selection {
    text-shadow: none !important;
    background: $selection-color;
    color: $gray-darker;
}

// lift the logo up a bit
.navbar-header {
		position: relative;
		top: -13px;
}

// style navbar search form-control
form#search-form.navbar-form div.form-group.nospace div.input-group input#search.form-control {
   width: 160px !important;
   border-radius: $btn-border-radius-base;
 }

.logo-download-light {
  background-color: $eshill-section-bgcolor;
}

.logo-download-dark {
  color: $eshill-section-bgcolor;
  background-color: $eshill-blue;
}

$beefy-header-height: 120px;

footer {
  background-color: $footer-background-color;
  color: darken($footer-color, 30%);
  min-height: 428px;
  margin-top: 24px;
  a {
    color: darken($footer-color, 30%);
    &:hover {
      color: darken($footer-color, 30%);
    }
  }
}
.footer-inner {
  display: flex;
  margin: auto;
  //max-width: 1060px;
  overflow: hidden;
}
.footerList {
    flex: 1 1 1;
    list-style: outside none none;
    margin-top: 60px;
    margin-left: -16px;
    margin-right: 24px;
}
.footerList_item {
    font-size: 14px;
    margin-bottom: 12px;
}
.footerList_item:first-child {
  color: $footer-color;
  font-size: 18px;
  font-family: $bold-headings-font-family;
  //font-weight: 600;
  margin-top: 2px;
  margin-left: 0;
  margin-bottom: 30px;
}
