.h1 {
	@extend h1;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: all ease-in-out .4s;
  &:hover,
  &:active {
    text-decoration: none;
    border-color: $eshill-green;
  }
  &:focus {
    text-decoration: none;
  }
}
