footer {
  background-color: $footer-background-color;
  color: darken($footer-color, 30%);
  @include rem(min-height, 428px);
  @include rem(margin-top, 24px);
  a {
    color: darken($footer-color, 30%);
    &:hover,
    &:focus {
      border-color: darken($footer-color, 30%);
      color: $footer-color;
    }
  }
}
.footer-inner {
  margin: auto;
  > .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.footerList {
  list-style: outside none none;
  @include rem(margin-top, 60px);
  @include rem(margin-left, -16px);
  @include rem(margin-right, 24px);
}
.footerList_item {
  @include rem(font-size, 14px);
  @include rem(margin-bottom, 12px);
  .social {
    a {
      border: none;
    }
    i {
      @include rem(font-size, 12px);
      @include rem(margin-left, 3px);
      @include rem(padding, 6px 6px);
      display: inline-block;
      color: $footer-color;
      background-color: darken($footer-color, 30%);
      border-radius:50%;
      @include rem(width, 24px);
      @include rem(height, 24px);
      transition:color 0.4s ease-out, background 0.4s ease-in;
      &:hover {
        background-color: $footer-color;
        color: $footer-background-color;
      }
    }
  }
}
.footerList_item:first-child {
  color: $footer-color;
  @include rem(font-size, 18px);
  font-family: $bold-headings-font-family;
  @include rem(margin-top, 2px);
  margin-left: 0;
  @include rem(margin-bottom, 30px);
}
