.yii-feature-wrapper {
  position: relative;
  top: -100px;
  @media (max-width: $grid-float-breakpoint) {
    top: -80px;
	}
}

.feature-box > .icon {
  text-align: center;
  position: relative;
}
.feature-box > .icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  vertical-align: middle;
}
.feature-box.green > .icon > .image {
  background: $yii-green;
}
.feature-box.blue > .icon > .image {
  background: $yii-blue;
}
.feature-box.yellow > .icon > .image {
  background: $yii-yellow;
}
.feature-box > .icon:hover > .image {
  background: #333;
}
.feature-box > .icon > .image > i {
  font-size: 36px !important;
  color: #fff !important;
}
.feature-box > .icon:hover > .image > i {
  color: white !important;
}
.feature-box > .icon > .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
}
.feature-box > .icon:hover > .info {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: white;
}
.feature-box > .icon > .info > h3.title {
  font-family: $headings-font-family;
  font-size: 26px;
  color: $headings-color;
  font-weight: 500;
}
.feature-box > .icon > .info > p {
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}
.feature-box > .icon > .info > .more a {
  font-size: 12px;
  color: #222;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.feature-box.green > .icon:hover > .info > .more > a {
  color: $yii-green;
}
.feature-box.blue > .icon:hover > .info > .more > a {
  color: $yii-blue;
}
.feature-box.yellow > .icon:hover > .info > .more > a {
  color: $yii-yellow;
}
.feature-box .space {
  height: 30px;
}
