
%blockquote{
  display:block;
  background: #fff;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 85px;
  position: relative;
  border-radius: 6px;
  min-height: 5em;
}

%blockquote::before{
  font-family: 'FontAwesome';
  font-size: 48px;
  vertical-align: middle;
  /*Positioning*/
  position: absolute;
  left: 25px;
  //top: 10px;
}

%blockquote::after{
  /*Reset to make sure*/
  content: "";
}

// find possible content values in
// vendor/bower/font-awesome/scss/_variables.scss

blockquote.tip {
  @extend %blockquote;
  background-color: #DDF7F2;
  border-left: 4px solid #70C1B3;
}
blockquote.tip::before{
  content: $fa-var-lightbulb-o;
  color: #70C1B3;
}
blockquote.note {
  @extend %blockquote;
  background-color: #FFF7E9;
  border-left: 4px solid #FFAB19;
}
blockquote.note::before{
  content: $fa-var-sticky-note-o;
  color: #FFAB19;
}
blockquote.info {
  @extend %blockquote;
  background-color: #E3F7FF;
  border-left: 4px solid #247BA0;
}
blockquote.info::before{
  content: $fa-var-info;
  color: #247BA0;
}
blockquote.warn {
  @extend %blockquote;
  background-color: #FFF0F4;
  border-left: 4px solid #FF1654;
}
blockquote.warn::before{
  content: $fa-var-warning;
  color: #FF1654;
}
