.guide-header-wrap {
  background-color: $eshill-light-blue;
}
.guide-header {
  .guide-headline {
    font-family: $bold-headings-font-family;
    font-size: fontsize(h1);
  }
  color: white;
  @include rem(padding-top, 22px);
  .version-selector {
    margin-bottom: 0;
    padding-bottom: 0;
    .btn {
      color: $yii-blue;
      background-color: $version-buttons;//#BAD9C1
      border-color: darken($version-buttons, 12%);

      &:focus,
      &.focus {
        color: $yii-blue;
        background-color: #F5FEC4;
            border-color: darken(#F5FEC4, 12%);
      }
      &:hover {
        color: $yii-blue;
        background-color: #83BFB3;
            border-color: darken(#83BFB3, 12%);
      }
      &:active,
      &.active,
      .open > &.dropdown-toggle {
        color: $yii-blue;
        background-color: #F5FEC4;
            border-color: darken(#F5FEC4, 12%);

        &:hover,
        &:focus,
        &.focus {
          color: $yii-blue;
          background-color: #F5FEC4;
          border-color: darken(#F5FEC4, 12%);
        }
      }
      font-family: $font-family-base;
      @media (max-width: 380px) {
        @include rem(font-size, 12px);
      }
    }
    .dropdown-menu {
      background-color: $eshill-yellow;
      width: 200%;
      > li > a {
        color: $yii-blue;
        &:hover,
        &:active {
          text-decoration: underline;
          background-color: $version-buttons;
        }
      }
    }
  }
}
