//.api-content h1:first-of-type {
//    margin-top: 36px;
//}
#api-navigation,
#guide-navigation {
  margin-top: 15px; // same as a bootstrap h1
  margin-bottom: 15px;
}

#guide-navigation {
  > a {
    &:hover {
      background-color: $eshill-green;
      color: #fff;
    }
  }
  > a.active {
    background-color: #F2F9FA;
    border-bottom: 4px solid #EBF1F2;
    color: inherit;
    &:hover {
      background-color: $eshill-green;
      color: #fff;
    }
  }
  > .in {
    background-color: #F2F9FA;
    a.active {
      background-color: $eshill-green;
      color: #fff;
    }
    > a {
      &:active,
      &:hover {
        background-color: $eshill-green;
        color: #fff;
      }
    }
  }
}
