
#guide-navigation {
  > a {
    @include rem(font-size, 13px);
    @include rem(line-height, 13px);
    @include rem(padding, 20px 10px);
    border-bottom: 1px solid $eshill-section-bgcolor;
    &:hover {
      text-decoration: underline;
      background-color: $eshill-green;
      color: #fff;
    }
  }
  > a.has-children {
    color: $separator-color;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid $eshill-section-bgcolor;
    &:hover {
      text-decoration: none;
      background-color: $eshill-green;
      color: #fff;
    }
  }
  > a.active {
    background-color: $eshill-section-bgcolor;
  }
  > .in {
    background-color: $eshill-section-bgcolor;
    a.active {
      text-decoration: none;
      background-color: $eshill-green;
      color: #fff;
    }
    > a {
      color: $eshill-light-blue;
      &:hover {
        text-decoration: none;
        background-color: $eshill-green;
        color: #fff;
      }
    }
  }
}
