.guide-header-wrap {
  background-color: $eshill-light-blue;
}
.guide-header {
  .guide-headline {
    font-family: $bold-headings-font-family;
    font-size: fontsize(h1);
  }
  color: white;
  padding-top: 22px;
  .version-selector {
    margin-bottom: 0;
    padding-bottom: 0;
    .btn {
      @include button-variant($yii-blue, $version-buttons, transparent);
      font-family: $font-family-base;
      @media (max-width: 380px) {
        @include rem(font-size, 12px);
      }
    }
    .dropdown-menu {
      background-color: $eshill-yellow;
      width: 200%;
      > li > a {
        &:hover,
        &:active {
          background-color: $version-buttons;
        }
      }
    }
  }
}
