// scrollnav styles nicked from Bootstrap docs
#scrollnav {

  .nav>li>a {
    display: block;
    padding: 4px 20px;
    @include rem(font-size, 14px);
    color: $link-color;
    text-decoration: underline;
  }

  .nav>li>a:focus,
  .nav>li>a:hover {
    color: $eshill-header-color;
    background-color: #F2F9FA;
    text-decoration: underline;
  }

  .nav>.active:focus>a,
  .nav>.active:hover>a,
  .nav>.active>a {
    color: $eshill-header-color;
    background-color: #F2F9FA;
    text-decoration: none;
  }

  .nav .nav {
    display: none;
    @include rem(padding-bottom, 2px);
  }
  .nav>li.active>.nav {
    display: block;
  }

  .nav .nav>li>a {
    @include rem(padding-top, 1px);
    @include rem(padding-bottom, 1px);
    @include rem(padding-left, 30px);
    @include rem(font-size, 12px);
    font-weight: 400;
  }
  .nav .nav>li>a:focus,
  .nav .nav>li>a:hover {
    @include rem(padding-left, 29px);
  }
  .nav .nav>.active:focus>a,
  .nav .nav>.active:hover>a,
  .nav .nav>.active>a {
    @include rem(padding-left, 28px);
    font-weight: 500;
  }
}
.fixed {
  position: fixed;
  @include rem(top, 220px);
  @include rem(right, 2px);
}
.affix-top {
  position: fixed;
  @include rem(top, 220px);
  background-color: $body-bg;
  z-index: 300;
  @include rem(right, 2px);
  border-left: 1px $version-buttons dashed;
}

.affix {
  position: fixed;
  @include rem(top, 12px);
  @include rem(right, 2px);
  background-color: $body-bg;
  z-index: 300;
  border-left: 1px $version-buttons dashed;
}

.affix-bottom {
  @include rem(top, 50px);
}
